<%= form_with model: @category, url: category_path(@category) do |f| %>
  <table>
    <thead>
      <th>カテゴリ名 : <%= @category.name %></th>
    </thead>
    <tbody>
      <% @category.lists.each do |list| %>
        <%= f.fields_for "lists[]", list do |af| %>
          <tr>
            <td><%= af.check_box :done,:as => :boolean %></td>
            <td><%= af.text_field :todo %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

 
  <%= f.submit "更新",class:"mt-3" %>
<% end %>